@use "./colors.scss" as colors;

body {
  background-color: colors.$background-color;
  color: colors.$font-color;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: colors.$primary;
}

h2 {
  color: colors.$secondary;
}
