$bright: #eee;
$dark: #333;

$primary: #0074c8;
$secondary: #054687;
$tertiary: #054687;

$font-color: $dark;
$background-color: $bright ;

$button-font-color: $bright;
$button-background-color: $secondary;
$button-border-color: $tertiary;

$input-border-color: $tertiary;
