$white: #fff;
$bright: #eee;
$dark: #555;
$black: #222;

$primary: #0074c8;
$secondary: #054687;
$tertiary: #054687;

$font-color: $dark;
$background-color: $bright ;

$button-font-color: $bright;
$button-background-color: $secondary;
$button-border-color: $tertiary;

$input-background-color: $white;
$input-border-color: $tertiary;

$elevated-background-color: $bright;
